<div class="modal " id="form-create">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="p-3 bg-modal">
        <h4 style="text-align: center">Thêm thông tin khách hàng</h4>

        <div class="form-group">
          <label>Mã khách hàng</label>
          <input class="form-control" type="text" id="add-customerCode">
        </div>

        <div class="form-group">
          <label>Tên khách hàng</label>
          <input class="form-control" type="text" id="add-customerName">

        </div>

        <div class="form-group">
          <label>Ngày sinh</label>
          <input class="form-control" type="date" id="add-customerBirthday">

        </div>

        <div class="form-group">
          <label>Giới tính</label>
          <select id="add-customerGender" class="form-control w-100">

            <option value="0">Nam</option>
            <option value="1">Nữ</option>
            <option value="2">Khác</option>

          </select>
        </div>
        <div class="form-group">
          <label>Căn cước công dân</label>
          <input class="form-control" type="text" id="add-customerIdCard">

        </div>

        <div class="form-group">
          <label>Số điện thoại</label>
          <input class="form-control" type="text" id="add-customerPhone">

        </div>

        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="text" id="add-customerEmail">

        </div>

        <div class="form-group">
          <label>Địa chỉ</label>
          <input class="form-control" type="text" id="add-customerAddress">
        </div>

        <div class="form-group">
          <label>Kiểu khách hàng</label>
          <select class="form-control w-100" id="add-customerTypeId">
            <option value="1">Diamond</option>
            <option value="2">Platinum</option>
            <option value="3">Gold</option>
            <option value="4">Silver</option>
            <option value="5">Member</option>
          </select>
        </div>
        <button class="btn btn-dark" type="submit">Add new</button>
        <button class="btn btn-dark" type="submit" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
