<style>
  body {
    font-family: Arial;
    background-image: url("https://images.unsplash.com/photo-1517384084767-6bc118943770?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
    background-size: cover;
  }
</style>
<body>
<div class="bg-menu table-dark table text-light font-weight-bold" style="padding-top: 100px">
  <div class="container-fluid body">
    <div class="center container-fluid">
      <h1 style="text-align: center">Danh sách hợp đồng</h1>
      <table style="border-collapse:  collapse; width: 100%" id="employeeList">
        <thead>
        <tr>
          <th class="text-center">Số hợp đồng</th>
          <th class="text-center">Ngày bắt đầu</th>
          <th class="text-center">Ngày kết thúc</th>
          <th class="text-center">Số tiền cọc trước</th>
          <th class="text-center">Tổng số tiền thanh toán</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contract of contractList; index as i">
          <td style="text-align: center">{{contract.id}}</td>
          <td>{{contract.startDay | date : "dd-MM-yyyy"}}</td>
          <td>{{contract.endDay | date : "dd-MM-yyyy"}}</td>
          <td>{{contract.moneyDeposit}}</td>
          <td>{{contract.totalMoney}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button class="btn btn-light">Previous</button>
      <button class="btn btn-light">1</button>
      <button class="btn btn-light">2</button>
      <button class="btn btn-light">...</button>
      <button class="btn btn-light">Next</button>

    </div>
  </div>
</div>

<!--                modal create contract-->
<app-modal-create-contract></app-modal-create-contract>
</body>
