<body>

<div class="bg-menu table-dark table text-light font-weight-bold" style="padding-top: 100px">
  <div class="container-fluid body">
    <div class="center container-fluid">
      <h1 style="text-align: center">Danh sách hợp đồng</h1>
      <table style="border-collapse:  collapse; width: 100%" id="employeeList">
        <thead>
        <tr>
          <th class="text-center">Số hợp đồng</th>
          <th class="text-center">Ngày bắt đầu</th>
          <th class="text-center">Ngày kết thúc</th>
          <th class="text-center">Số tiền cọc trước</th>
          <th class="text-center">Tổng số tiền thanh toán</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">1</td>
          <td>17-07-2022</td>
          <td>18-07-2022</td>
          <td>50000</td>
          <td>100000</td>
        </tr>

        <tr>
          <td class="text-center">2</td>
          <td>17-07-2022</td>
          <td>19-07-2022</td>
          <td>20000</td>
          <td>30000</td>
        </tr>

        <tr>
          <td class="text-center">3</td>
          <td>17-07-2022</td>
          <td>20-07-2022</td>
          <td>40000</td>
          <td>100000</td>
        </tr>

        <tr>
          <td class="text-center">4</td>
          <td>17-07-2022</td>
          <td>21-07-2022</td>
          <td>15000</td>
          <td>20000</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button class="btn btn-light">Previous</button>
      <button class="btn btn-light">1</button>
      <button class="btn btn-light">2</button>
      <button class="btn btn-light">...</button>
      <button class="btn btn-light">Next</button>

    </div>
  </div>
</div>

                modal create contract
<app-modal-create-contract></app-modal-create-contract>
</body>
