<body>
<div class="container-fluid">
  <div class="row" style="display: flex">
    <div class="col-md-2">
      <a routerLink=""><img src="https://kynghiviet.vn/public/upload/Tour/2020/FURAMA%20RESORT%20DA%20NANG/furama%20logo.png"
           height="100px" width="100%"></a>
    </div>
    <div class="col-md-7 row" style="display: flex">
      <div class="col-md-5" style="padding-top: 12px">
        <p style="text-align: center"><i class="fa-solid fa-location-dot" style="color: darkgreen"></i>103 – 105
          Đường Võ Nguyên Giáp, Phường Khuê Mỹ, Quận Ngũ hành Sơn, Tp. Đà
          Nẵng, Việt Nam</p>
      </div>
      <div class="col-md-2">


      </div>
      <div class="col-md-5" style="padding-top: 12px">
        <p style="text-align: center"><i class="fa-solid fa-phone" style="color: darkgreen"></i>&nbsp;&nbsp;
          0968686868</p>
        <p style="text-align: center"><i class="fa-solid fa-envelope" style="color: darkgreen"></i>&nbsp;&nbsp;
          truongtran221298@gmail.com</p>
      </div>
    </div>
    <div class="col-md-3">
      <h5 style="padding-left: 30px; margin-top: 20px">Trần Xuân Trường</h5>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search
          <i class="fa-solid fa-magnifying-glass" style="font-size: 1.5rem"></i></button>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</div>

<!-- navbar-->

<nav class="navbar navbar-expand-lg navbar-light"
     style="padding-left: 33%; background-color: #467FFA; font-size: 20px; position: sticky ; top: 0; z-index: 999">
  <a class="navbar-brand" href="#" style="color: white; font-size: 20px">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" style="color: white">
          Employee
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
<!--      customer-->
      <li class="nav-item">
        <a class="nav-link" style="color: white" routerLink="/list-customer">Customer</a>
      </li>

<!--      Facilities-->

      <li class="nav-item">
        <a class="nav-link" style="color: white" routerLink="/list-facilities">Facilities</a>
      </li>

<!--      Contract-->
      <li class="nav-item">
        <a class="nav-link" style="color: white" routerLink="/list-contract">Contract</a>
      </li>
    </ul>
  </div>
  <div>
    <button style="margin-right: 30px; font-size: 1.5rem"
            class="createFacilities btn btn-light" data-toggle="modal"
            data-target="#form-create">Create</button>
  </div>
</nav>
</body>
