<body>
<!-- list-->
<div class="bg-menu table-dark table text-light font-weight-bold" style="padding-top: 100px">
  <div class="container-fluid body">
    <div class="center container-fluid">
      <h1 style="text-align: center">Danh sách khách hàng</h1>
      <table style="border-collapse:  collapse; width: 100%" id="employeeList">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Mã khách hàng</th>
          <th class="text-center">Tên khách hàng</th>
          <th class="text-center">Giới tính</th>
          <th class="text-center">Căn cước công dân</th>
          <th class="text-center">Số điện thoại</th>
          <th class="text-center">Địa chỉ</th>
          <th class="text-center">Loại khách hàng</th>
          <th class="text-center">Update</th>
          <th class="text-center">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customerList, index as i">
          <td>{{i + 1}}</td>
          <td>{{customer.code}}</td>
          <td>{{customer.name}}</td>
          <td>

            <span *ngIf="customer.gender == 1">Nam</span>
            <span *ngIf="customer.gender == 0">Nữ</span>

          </td>
          <td>{{customer.idCard}}</td>
          <td>{{customer.phoneNumber}}</td>
          <td>{{customer.address}}</td>
          <td>

            <span *ngIf="customer.typeCustomer == 1">Diamond</span>
            <span *ngIf="customer.typeCustomer == 2">Platinum</span>
            <span *ngIf="customer.typeCustomer == 3">Gold</span>
            <span *ngIf="customer.typeCustomer == 4">Silver</span>

          </td>

          <td>
            <a class="updateEmployee" data-toggle="modal"
               data-target="#form-update">
              <button class="btn btn-light">Update</button>
            </a>
          </td>
          <td>
            <a style="color: white" href="#"
               onclick="customerIndex(id, 'name')"
               data-toggle="modal"
               data-target="#delete">
              <button class="btn btn-light">
                Delete
              </button>
            </a>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
    <div>
      <button class="btn btn-light">Previous</button>
      <button class="btn btn-light">1</button>
      <button class="btn btn-light">2</button>
      <button class="btn btn-light">...</button>
      <button class="btn btn-light">Next</button>

    </div>
  </div>
</div>

<!-- modal update customer-->

<app-modal-update-customer></app-modal-update-customer>
<!--                modal create customer-->

<app-modal-create-customer></app-modal-create-customer>
<!--modal delete-->
<div class="modal" id="delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center" id="name">Bạn có muốn xóa không?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" onclick=employeeIndex2()>
          <a class="text-white">Xóa</a>
        </button>
        <button type="button" class="btn btn-dark " data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
</body>
