<body>
<!-- list-->
<div class="bg-menu table-dark table text-light font-weight-bold" style="padding-top: 100px">
  <div class="container-fluid body">
    <div class="center container-fluid">
      <h1 style="text-align: center">Danh sách khách hàng</h1>
      <table style="border-collapse:  collapse; width: 100%" id="employeeList">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Mã khách hàng</th>
          <th class="text-center">Tên khách hàng</th>
          <th class="text-center">Giới tính</th>
          <th class="text-center">Căn cước công dân</th>
          <th class="text-center">Số điện thoại</th>
          <th class="text-center">Địa chỉ</th>
          <th class="text-center">Loại khách hàng</th>
          <th class="text-center">Update</th>
          <th class="text-center">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>KH-1111</td>
          <td>Trần Xuân Trường</td>
          <td>Nam</td>

          <td>123456789</td>
          <td>0906868686</td>
          <td>Đà Nẵng</td>
          <td>Diamond</td>

          <td>
            <a class="updateEmployee" data-toggle="modal"
               data-target="#form-update">
              <button class="btn btn-light">Update</button>
            </a>
          </td>
          <td>
            <a style="color: white" href="#"
               onclick="customerIndex(id, 'name')"
               data-toggle="modal"
               data-target="#delete">
              <button class="btn btn-light">
                Delete
              </button>
            </a>
          </td>
        </tr>

        <tr>
          <td>2</td>
          <td>KH-2222</td>
          <td>Nguyễn Hữu Khoa</td>
          <td>Nam</td>

          <td>222323212342</td>
          <td>09921123123</td>
          <td>Đà Nẵng</td>
          <td>Platinum</td>

          <td>
            <a class="updateEmployee" data-toggle="modal"
               data-target="#form-update">
              <button class="btn btn-light">Update</button>
            </a>
          </td>
          <td>
            <a style="color: white" href="#"
               onclick="customerIndex(id, 'name')"
               data-toggle="modal"
               data-target="#delete">
              <button class="btn btn-light">
                Delete
              </button>
            </a>
          </td>
        </tr>

        <tr>
          <td>3</td>
          <td>KH-1333</td>
          <td>Huỳnh Ngọc Hoa</td>
          <td>Nữ</td>

          <td>222232321</td>
          <td>777777745</td>
          <td>Đà Nẵng</td>
          <td>Gold</td>

          <td>
            <a class="updateEmployee" data-toggle="modal"
               data-target="#form-update">
              <button class="btn btn-light">Update</button>
            </a>
          </td>
          <td>
            <a style="color: white" href="#"
               onclick="customerIndex(id, 'name')"

               data-toggle="modal"
               data-target="#delete">
              <button class="btn btn-light">
                Delete
              </button>
            </a>
          </td>
        </tr>

        <tr>
          <td>4</td>
          <td>KH-4444</td>
          <td>Nguyễn Thanh Tùng</td>
          <td>Nam</td>

          <td>577756656</td>
          <td>683453534</td>
          <td>Đà Nẵng</td>
          <td>Silver</td>

          <td>
            <a class="updateEmployee" data-toggle="modal"
               data-target="#form-update">
              <button class="btn btn-light">Update</button>
            </a>
          </td>
          <td>
            <a style="color: white" href="#"
               onclick="customerIndex(id, 'name')"
               data-toggle="modal"
               data-target="#delete">
              <button class="btn btn-light">
                Delete
              </button>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button class="btn btn-light">Previous</button>
      <button class="btn btn-light">1</button>
      <button class="btn btn-light">2</button>
      <button class="btn btn-light">...</button>
      <button class="btn btn-light">Next</button>

    </div>
  </div>
</div>

<!-- modal update customer-->

<div class="modal" id="form-update">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="p-3 bg-modal">
        <h4 style="text-align: center">Chỉnh sửa thông tin khách hàng</h4>
        <p class="form-control" id="id">1</p>

        <div class="form-group">
          <label>Mã khách hàng</label>
          <p class="form-control" id="customerCode">KH-1111</p>
        </div>

        <div class="form-group">
          <label>Tên khách hàng</label>
          <input class="form-control" type="text" id="customerName">

        </div>

        <div class="form-group">
          <label>Ngày sinh</label>
          <input class="form-control" type="date" id="customerBirthday">

        </div>

        <div class="form-group">
          <label>Giới tính</label>
          <select id="customerGender" class="form-control w-100">

            <option value="0">Nam</option>
            <option value="1">Nữ</option>
            <option value="2">Khác</option>

          </select>
        </div>
        <div class="form-group">
          <label>Căn cước công dân</label>
          <input class="form-control" type="text" id="customerIdCard">

        </div>

        <div class="form-group">
          <label>Số điện thoại</label>
          <input class="form-control" type="text" id="customerPhone">

        </div>

        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="text" id="customerEmail">

        </div>

        <div class="form-group">
          <label>Địa chỉ</label>
          <input class="form-control" type="text" id="customerAddress">
        </div>

        <div class="form-group">
          <label>Kiểu khách hàng</label>
          <select class="form-control w-100" id="customerTypeId">
            <option value="1">Diamond</option>
            <option value="2">Platinum</option>
            <option value="3">Gold</option>
            <option value="4">Silver</option>
            <option value="5">Member</option>
          </select>
        </div>
        <button class="btn btn-dark" type="submit">Update</button>
        <button class="btn btn-dark" type="submit" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!--                modal create customer-->

<div class="modal " id="form-create">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="p-3 bg-modal">
        <h4 style="text-align: center">Chỉnh sửa thông tin khách hàng</h4>

        <div class="form-group">
          <label>Mã khách hàng</label>
          <input class="form-control" type="text" id="add-customerCode">
        </div>

        <div class="form-group">
          <label>Tên khách hàng</label>
          <input class="form-control" type="text" id="add-customerName">

        </div>

        <div class="form-group">
          <label>Ngày sinh</label>
          <input class="form-control" type="date" id="add-customerBirthday">

        </div>

        <div class="form-group">
          <label>Giới tính</label>
          <select id="add-customerGender" class="form-control w-100">

            <option value="0">Nam</option>
            <option value="1">Nữ</option>
            <option value="2">Khác</option>

          </select>
        </div>
        <div class="form-group">
          <label>Căn cước công dân</label>
          <input class="form-control" type="text" id="add-customerIdCard">

        </div>

        <div class="form-group">
          <label>Số điện thoại</label>
          <input class="form-control" type="text" id="add-customerPhone">

        </div>

        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="text" id="add-customerEmail">

        </div>

        <div class="form-group">
          <label>Địa chỉ</label>
          <input class="form-control" type="text" id="add-customerAddress">
        </div>

        <div class="form-group">
          <label>Kiểu khách hàng</label>
          <select class="form-control w-100" id="add-customerTypeId">
            <option value="1">Diamond</option>
            <option value="2">Platinum</option>
            <option value="3">Gold</option>
            <option value="4">Silver</option>
            <option value="5">Member</option>
          </select>
        </div>
        <button class="btn btn-dark" type="submit">Add new</button>
        <button class="btn btn-dark" type="submit" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!--modal delete-->
<div class="modal" id="delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center" id="name">Bạn có muốn xóa không?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" onclick=employeeIndex2()>
          <a class="text-white">Xóa</a>
        </button>
        <button type="button" class="btn btn-dark " data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
</body>
