<h1>Chỉnh sửa sản phẩm</h1>
<form [formGroup]="productUpdateForm">
  <table>
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="cost"></td>
    </tr>
    <tr>
      <td>Danh muc</td>
      <select class="form-control w-100" formControlName="category" [compareWith]="compareWithId">
        <option value="">---- Vui lòng chọn danh mục ----</option>
        <option [ngValue]="category" *ngFor="let category of categoryList ">{{category.name}}</option>
      </select>
    </tr>
    <button (click)="onSubmit()">Update</button>
  </table>
</form>
