<!-- Menu-->

<div class="bg-menu">
  <h1 class="text" style="text-align: center; font-size: 3.5rem;padding-top: 200px">
    FACILITIES</h1>
</div>
<!-- card-->
<div class="container">
  <div *ngFor="let facilities of facilitiesList">
    <div class="card-deck mt-4 ml-4 mb-4" style="width: 32%; float: left">
      <div class="card container-img">
        <img [src]="facilities.url"
             class="card-img-top " alt="">

        <div class="middle image ">
          <button class="book">Đặt phòng</button>
        </div>

        <div class="card-body">
          <h5 class="card-text text-center">{{facilities.name}}</h5>
          <p class="card-text"><small class="text-muted" style="font-size: 15px"><i class="fa-solid fa-warehouse "
                                                                                    style="color: #04AA6D"></i>&nbsp;
            Diện tích phòng: {{facilities.useAble}}
            m<sup>2</sup></small>
          </p>

          <p class="card-text"><small class="text-muted" style="font-size: 15px"><i class="fa-solid fa-sack-dollar"
                                                                                    style="color: #04AA6D"></i>&nbsp;
            Giá phòng: {{facilities.cost}}$</small>
          </p>

          <p class="card-text"><small class="text-muted" style="font-size: 15px"><i class="fa-solid fa-user"
                                                                                    style="color: #04AA6D"></i>&nbsp;
            Số
            người ở tối đa: {{facilities.maxPeople}}</small>
          </p>
        </div>
        <div>
          <!--                delete-->
          <a href="#"
             (click)="valueOfId(facilities.idFacilities, facilities.name)"
             data-toggle="modal"
             data-target="#delete">
            <button style="float: right" class="btn btn-light">
              <i style=" font-size: 1.5rem" class="fa-solid fa-trash-can btn text-danger"></i>
            </button>
          </a>

          <!--                          update-->
          <a routerLink="/update-facilities/{{facilities.idFacilities}}">
            <button style="float: right;" class="btn btn-light"><i style="font-size: 1.5rem"
                                                  class="fa-solid fa-pen-to-square btn text-info"></i></button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  modal update-->
<div>
<!--  <app-modal-update-facilities></app-modal-update-facilities>-->
</div>
<!-- modal create-->
<app-modal-create-facilities></app-modal-create-facilities>
<!--modal delete-->
<div class="modal" id="delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center" id="name">Bạn có muốn xóa không {{name}}?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="delete()">
          <a class="text-white">Xóa</a>
        </button>
        <button type="button" class="btn btn-dark " data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

